<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-light col-xl-4 col-md-6 col-12 col-sm-6 navbar-white elevation-1">
    <!-- Left navbar links -->
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
    </ul>
</nav>
<!-- /.navbar -->
