<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-light-primary elevation-1">

    <!-- Brand Logo -->
    <a href="#" class="brand-link navbar-primary">
        <span class="brand-text text-white font-weight-light">HC Managment</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">

            </div>
            <div class="info">
                <span class="d-block text-white"></span>
                <h6 class="d-block text-white text-sm"></h6>
                <h6 class="d-block text-sm text-primary">En ligne</h6>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column nav-legacy nav-flat"
                data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item has-treeview">
                    <a href="" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Tableau de bord
                        </p>
                    </a>
                </li>

            </ul>
        </nav>
    </div>
    <!-- /.sidebar -->
</aside>