{% extends 'base/base.html.twig' %}

{% block body %}
    <div id="root" class="mb-2  col-md-12">

    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app-enregistrements') }}
{% endblock %}